---
import astroConfig from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cardan Oeste - Reparadora de cardans">
  <div class="bg-[url('/images/banner.png')] bg-cover bg-center">
    <div class="relative px-6 lg:px-8">
      <div
        class="mx-auto max-w-2xl py-32 px-12 sm:py-48 lg:py-56 backdrop-blur-sm"
      >
        <div class="text-center p-4">
          <h1
            class="text-4xl tracking-tight text-gray-850 font-extrabold sm:text-6xl"
          >
            Diagnóstico preciso e reparo rápido para você seguir viagem
          </h1>
          <hr class="w-48 border-4 border-blue-800 mx-auto mt-4" />
          <p class="mt-6 text-lg text-gray-900 font-medium">
            Temos a solução ideal para o seu eixo de transmissão
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href="https://api.whatsapp.com/send?phone=5521974210745"
              class="rounded-md bg-green-700 px-4 py-3 text-sm font-semibold text-white shadow-sm hover:bg-green-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              ><i class="bi bi-whatsapp pr-2"></i>Entrar em contato</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="py-12 bg-white-950">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold text-blue-900 px-4 mb-8">
        Cardan Oeste reparadora de cardans
      </h1>
      <p class="text-2xl text-slate-900 px-4">
        É a sua escolha ideal como fornecedor para construção, reparo e
        manutenção de eixos de transmissão em todo o Rio de Janeiro. Nossa ampla
        gama de produtos inclui tamanhos padrão, assim como eixos de transmissão
        pesados ou designs especiais para veículos comerciais e indústriais.
      </p>
    </div>
  </section>
  <section class="py-8 bg-gray-100">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-slate-600 px-4">
        Vantagens da empresa
      </h2>
      <hr class="my-4 border-gray-200 border-1" />
      <div class="grid sm:grid-cols-1 lg:grid-cols-4 gap-8">
        <div
          class="max-w-sm rounded overflow-hidden border border-gray-200 p-6 mx-auto"
        >
          <div
            class="flex border-2 rounded-full w-16 h-16 items-center justify-center"
          >
            <i class="bi bi-patch-check-fill text-3xl text-orange-600"></i>
          </div>

          <div class="py-4 mt-4">
            <div class="font-bold text-xl text-gray-800 mb-4">
              Expertise Comprovada
            </div>
            <ul class="list-disc list-inside text-base">
              <ol>Mais de 20 anos em reparos de cardan.</ol>
              <ol>Mais de 5000 reparos realizados com sucesso.</ol>
              <ol>Técnicos altamente qualificados e experientes.</ol>
            </ul>
          </div>
        </div>
        <div
          class="max-w-sm rounded overflow-hidden border border-gray-200 p-6 mx-auto"
        >
          <div
            class="flex border-2 rounded-full w-16 h-16 items-center justify-center"
          >
            <i class="bi bi-clock-fill text-3xl text-orange-600"></i>
          </div>

          <div class="py-4 mt-4">
            <div class="font-bold text-xl text-gray-800 mb-4">
              Rapidez e Precisão
            </div>
            <ul class="list-disc list-inside text-base">
              <ol>Diagnóstico completo e preciso do cardan.</ol>
              <ol>Reparo rápido e eficiente com ferramentas modernas.</ol>
              <ol>
                Grande estoque de peças originais para agilizar o processo.
              </ol>
            </ul>
          </div>
        </div>
        <div
          class="max-w-sm rounded overflow-hidden border border-gray-200 p-6 mx-auto"
        >
          <div
            class="flex border-2 rounded-full w-16 h-16 items-center justify-center"
          >
            <i class="bi bi-star-fill text-3xl text-orange-600"></i>
          </div>

          <div class="py-4 mt-4">
            <div class="font-bold text-xl text-gray-800 mb-4">
              Qualidade e Segurança
            </div>
            <ul class="list-disc list-inside text-base">
              <ol>Garantia de qualidade para serviços e peças de reposição.</ol>
              <ol>
                Peças originais e de alta qualidade para o bom funcionamento do
                veículo.
              </ol>
              <ol>
                Serviços seguem rigorosos padrões de qualidade e segurança.
              </ol>
            </ul>
          </div>
        </div>
        <div
          class="max-w-sm rounded overflow-hidden border border-gray-200 p-6 mx-auto"
        >
          <div
            class="flex border-2 rounded-full w-16 h-16 items-center justify-center"
          >
            <i class="bi bi-cash-stack text-3xl text-orange-600"></i>
          </div>

          <div class="py-4 mt-4">
            <div class="font-bold text-xl text-gray-800 mb-4">
              Preço Justo e Transparência
            </div>
            <ul class="list-disc list-inside text-base">
              <ol>Preços justos e competitivos para todos os serviços.</ol>
              <ol>Orçamento detalhado antes de iniciar qualquer serviço.</ol>
              <ol>Transparência e bom relacionamento com os clientes.</ol>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-8 bg-white-950">
    <div class="container mx-auto px-4">
      <div class="flex flex-col gap-6 md:flex-row">
        <div class="w-full md:w-1/2">
          <h3 class="text-3xl font-bold mb-8 text-blue-900">
            Reparo de cardan e eixo de transmissão
          </h3>

          <ul class="list-disc list-inside text-1xl">
            <li>
              Realizamos um teste de equilíbrio e verificação de desgaste.
            </li>
            <li>
              Desmontamos seu eixo cardã para uma inspeção minuciosa de todas as
              peças.
            </li>
            <li>Substituímos peças defeituosas por peças originais.</li>
            <li>
              Montamos as juntas de acordo com as especificações dos desenhos
              técnicos respectivos.
            </li>
            <li>
              Montamos seu eixo cardã incluindo ajuste preciso e ajuste do eixo.
            </li>
            <li>
              Soldamos seus eixos cardã de acordo com os certificados de
              qualidade.
            </li>
            <li>Ajustamos seu eixo cardã na prensa de alinhamento.</li>
            <li>
              Realizamos um balanceamento dinâmico do seu eixo cardã de acordo
              com o desenho técnico.
            </li>
            <li>
              Lubrificamos as buchas dos rolamentos com lubrificante especial.
            </li>
            <li>
              Realizamos uma inspeção final de acordo com o registro de teste e
              adicionamos uma etiqueta Cardan Oeste
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 flex justify-center align-middle flex-1">
          <img
            class="max-h-80"
            src="images/din_xs_sae_flanged_1200x705-1030x605-1.jpg"
            alt="reparo em 10 passos para o cardan"
          />
        </div>
      </div>
    </div>
  </section>
</Layout>
