---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cardan Oeste - Sobre nós">
  <main class="bg-blue-950">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#000000 ] to-[#000000] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        >
        </div>
      </div>
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <section class="bg-gray-200 py-16">
          <div class="container mx-auto">
            <h1 class="text-3xl font-bold text-center mb-8">Sobre Nós</h1>
            <p class="text-lg max-w-2xl mx-auto">
              A Cardan Oeste é uma empresa fundada em 2016, com sede no Rio de
              Janeiro, especializada no ramo de reparo, venda e distribuição de
              peças de cardans para caminhões. Nosso compromisso é fornecer
              soluções confiáveis e eficientes para as necessidades dos nossos
              clientes. Contamos com uma equipe altamente qualificada e
              experiente, além de trabalhar com os principais fabricantes do
              mercado, garantindo a qualidade e durabilidade dos nossos
              produtos.
            </p>
          </div>
        </section>
      </div>
    </div>
  </main>
</Layout>
